:root {
  --global-primary-color-caranguejo: #de2322;
  --global-primary-color-dragao: #1bb21b;
  --global-primary-color-escorpiao: #de2322;
  --global-primary-color-fenix: #000000;
  --global-primary-color-garca: #69a7e8;
  --global-primary-color-leao: #dec022;
  --global-primary-color-louva-a-deus: #82c98a;
  --global-primary-color-unicornio: #9f77eb;

  --global-secundary-color-caranguejo: #ffffff;
  --global-secundary-color-dragao: #f1e8ac;
  --global-secundary-color-escorpiao: #f1e8ac;
  --global-secundary-color-fenix: #de2322;
  --global-secundary-color-garca: #ffffff;
  --global-secundary-color-leao: #ffffff;
  --global-secundary-color-louva-a-deus: #ffffff;
  --global-secundary-color-unicornio: #ffffff;
}

body {
  margin: 0;
}